:root{
    --primary-box-shadow: 0 3px 13px rgba(232,232,232,.6);
  }
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Iran Regular' !important;
  
  }
  body{
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      font-family: 'Iran Regular' !important;
  }
  ul{
      padding: 0;
  }
  a{
      text-decoration: none;
  }
  .all{
      background-color: rgba(54, 52, 52, 0.5);
      display: none;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 21;
  }
  .all--open{
      display: block;
  }
  .hamber-menu{
      width: 36px;
      height: 36px;
      cursor: pointer;
  }
  .main-logo{
      width: 120px;
      height: 80px;
      border-left: 1px solid rgb(243,244,246);
      padding-left: 5px;
      cursor: pointer;
  }
  .header{
     background-color: #fff;
     padding: 35px 48px;
  }
  .nav-main{
      display: flex;
      justify-content: space-between;
     
  
  }
  .person-button{
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      border-radius: 50px;
      justify-content: center;
      background-color: rgb(249,250,251);
  }
  .close-mobile-nav{
      cursor: pointer;
  }
  .left-nav{
      
  }
  .nav-list{
      margin-bottom: 0px;
  }
  .nav-list li{
      height: 50px;
      line-height: 47px;
  }
  .nav-list li a{
      color: #3f3f46;
      transition: all .2s ease;
      
      display: block;
      padding-bottom: 20px;
      
  }
  
  .nav-list li a:hover{
      color: rgb(46,213,115);
  }
  .left-nav input,.mobile-nav-content input{
      width: 198px;
      height: 56px;
      border: none;
      outline: none;
      background-color: #f3f4f6;
      border-radius: 40px;
      padding: 0 30px 0 0;
      color: #64748b;
      transition: all .8s ease;
  }
  
  .left-nav input:focus{
      width: 265px;
      border: 1px solid #878686;
  
      
  }
  .left-nav label,.mobile-nav-content label{
      position: relative;
      
  }
  .glass-icon{
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 20px;
  }
  .nav-login{
      margin-right: 25px;
      position: relative;
      margin-left: -47px;
  }
  .nav-login a{
     display: inline-block;
     text-align: center;
     line-height: 50px;
      width: 125px;
      height: 56px;
      border-radius: 52px;
      color: #fff;
      font-size: 18px;
      position: relative;
      transition: all .2s ease;
  
  }
  
  .nav-login a:first-child{
      background-color: #0ea5e980;
      text-align: right;
      padding-right: 20px;
      
  }
  .nav-login a:first-child:hover{
      background-color: rgb(56 189 248 );
  }
  .nav-login a:last-child{
      background-color: #0ea5e9;
      z-index: 0;
      
      left: 0px;
      top: 0;
      right: -48px;
      z-index: 20;
  }
  .nav-login a:last-child:hover{
      background-color: rgb(2,132,199);
  
  }
  
  .nav-list li { 
    position: relative; 
    padding: -1px 0 20px 0;
  } 
   
  .dropdown-content { 
    display: none; 
    position: absolute; 
    background-color: #fff; 
    margin-top: 20px;
    min-width: 220px; 
    box-shadow: var(--primary-box-shadow); 
    z-index: 1; 
    padding: 5px 15px 10px 15px;
    border-radius: 10px;
    margin-top: -10px;
    height: auto;
    transition: all 100ms ease;
  } 
   
  .dropdown-content a { 
    color: #333; 
    padding-bottom: 0 !important;
    margin-bottom: 10px;
    text-decoration: none; 
    display: block; 
    text-align: right; 
  } 
   
  .nav-list li:hover .dropdown-content { 
    display: block; 
  } 
   
  .dropdown:hover .dropbtn { 
    background-color: #ccc; 
  } 
  
  /* mobile nav */
  .mobile-nav{
      padding: 0px;
      transform: translateX(270px);
      transition: all 600ms ease;
      z-index: 1000;
      height: 100%;
      background-color: rgb(135, 132, 132);
      background-color: #fff;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
  }
  .mobile-nav--open{
      transform: translateX(0px);
      width: 260px;
      padding: 28px;
  }
  .mobile-nav img{
      width: 62px;
      height: 40px;
  }
  #logo-type{
      cursor: pointer;
  }
  .mobile-nav-top{
      border-bottom: 1px solid #e5e7eb;
      padding-bottom: 20px;
  }
  .mobile-nav-content input{
      margin-top: 30px;
      width: 200px;
      height: 48px;
      border-radius: 15px;
  }
  .mobile-nav-content input::placeholder{
      font-size: 16px;
  }
  .mobile-nav-content .glass-icon{
      width: 24px;
      height: 24px;
      top: 30px;
  }
  .accordion-button:not(.collapsed) {
      
      background-color: transparent;
      
  }
  .accordion-button:focus {
      z-index: 3;
     
      box-shadow: none;
  }